default: &default
  adapter: mysql
  username: username
  password: password
  pool: 50
  encoding: utf8

development:
  <<: *default
  host: localhost
  database: oict_dev

test:
  <<: *default
  host: localhost
  database: oict_test
